# Ignore hash cache file for posted docs
last_fia_doc_hash.txt

# Ignore Firefox dump HTML
fia_page_dump.html

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
venv/
ENV/
env.bak/
env/

# macOS files
.DS_Store

# Logs
*.log

# Misc
*.tar.gz
*.bz2
*.zip
